[submodule "deps/conflict"]
	path = deps/conflict
	url = https://github.com/qookei/conflict
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/libremidi"]
	path = deps/libremidi
	url = https://github.com/celtera/libremidi
[submodule "deps/sanitizers-cmake"]
	path = deps/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
[submodule "deps/sol2"]
	path = deps/sol2
	url = https://github.com/ThePhD/sol2
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/Dav1dde/glad
